*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.form-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(blue, yellow);
}
.form-block>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  background-color: aliceblue;
  transform: scale(2);
  text-align: center;
  border: 5px solid black;
}
.form-block>form>label{
    padding: 5px 5px;
    font-weight: bold;
   
}
.form-block>form>input{
  padding: 5px 10px;
}
.form-block>form>button{
  padding: 2px 5px;
  
}

@media screen and (min-width:320px) and (max-width:480px) {
  .form-block>form{
      transform: scale(0.9);
  }
}
@media screen and (min-width:480px) and (max-width:768px) {
  .form-block>form{
      transform: scale(1.2);
  }
}
